<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/History_Page.css" />

    <title>Report History</title>
</head>
<body>

    <div class="navbar">
        <a href=" {{ url_for('core.dashboard') }} " style="font-weight: bold;">ShieldMail</a>
        <a href=" {{ url_for('core.dashboard') }}">Dashboard</a>
        <a href=" {{ url_for('auth.logout') }}">Logout</a>
    </div>



    <div class="container">
        <h1>Report History</h1>
        {% for email in emails %}
        <div class="history-row">
            <div class="report-detail status-column">
                <p>
                    Risk Score:
                    <span class="{{ 'status-true' if email.riskScore else 'status-false' }}">
                        {{ email.riskScore }}
                    </span>
                </p>
            </div>
            <div class="report-detail status-column">
                <p>
                    Spam Detected:
                    <span class="{{ 'status-true' if email.spamDetected else 'status-false' }}">
                        {{ 'True' if email.spamDetected else 'False' }}
                    </span>
                </p>
            </div>
            <div class="report-detail status-column">
                <p>
                    Phishing Detected:
                    <span class="{{ 'status-true' if email.phishingDetected else 'status-false' }}">
                        {{ 'True' if email.phishingDetected else 'False' }}
                    </span>
                </p>
            </div>
            <div class="report-detail date-column">
                <p>Date Checked: {{ email.createdAt }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            const rows = document.querySelectorAll('.history-row');
            let delay = 0;
            rows.forEach(row => {
                row.style.animation = `fadeInUp 0.5s ease forwards ${delay}s`;
                delay += 0.15; // each row will animate with a delay of 0.15s after the previous one
            });
        });
    </script>
</body>
</html>