<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Profile_Info_Page.css" />

    <title>User Profile Information</title>
</head>
<body>

    <div class="navbar">
        <a href="#" style="font-weight: bold;">ShieldMail</a>
        <a href="{{ url_for('core.dashboard') }}">Dashboard</a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </div>

<div class="profile-container">
    <h2 class="profile-header">Profile Information</h2>
    <div class="profile-info">
        <div><span>First Name:</span> {{ user['firstname'] }}</div>
        <div><span>Last Name:</span> {{ user['lastname'] }}</div>
        <div><span>Email:</span> {{ user['email'] }}</div>
        <div><span>Member Since:</span> {{ user['memberSince'] }}</div>
        <div><span>Last Login:</span> {{ user['lastLogin'] }} </div>
    </div>

 

</div>

</body>
</html>
