<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Spam_Email_Page.css" />
    <title>Spam Content Checker | ShieldMail</title>
</head>
<body>

    <div class="navbar">
        <a href="#" style="font-weight: bold;">ShieldMail</a>
        <a href="{{ url_for('core.dashboard') }}">Dashboard</a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </div>

<div class="container">
    <div class="main-content">
        <h1>Check Your Email for Spam</h1>
        <p>Paste the content of a suspicious email below to check if it's spam. Our advanced algorithms analyze the text to detect potential threats and keep your inbox safe.</p>

        <form id="formForMessage" action="/spam-email" method="POST">
            {{ form.hidden_tag() }}
            <p id="contentOfMessage">{{ form.content.label }}<br>{{ form.content() }}</p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>
<div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div id="modalContent">
            </div>
        </div>
    </div>
</body>


<script>
document.getElementById('formForMessage').addEventListener('submit', function (event) {
        event.preventDefault();
        showLoadingIndicator();
        const formData = new FormData(event.target)
        openModal(formData);
    });
function showLoadingIndicator() {
    document.getElementById('modalContent').innerHTML = 'Loading...';
    document.getElementById('myModal').style.display = 'flex';
}

function openModal(formData) {
            fetch('/spam-email', {
                method: 'POST',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    const htmlContent = `
            <div class="modal-title">Email Analysis Report</div>
            <div class="metric-row">
                <div class="metric-rectangle">Risk Score: ${data.riskScore}</div>
                <div class="metric-rectangle">Phishing Detected: ${data.phishingDetected}</div>
                <div class="metric-rectangle">Spam Detected: ${data.spamDetected}</div>
            </div>
            <div class="metric-row">
                <div class="metric">Lexical Diversity: ${data.lexicalDiversity}</div>
            </div>
            <div class="metric-row">
                <div class="metric">Grammar Issues: ${data.grammarIssues}</div>
            </div>
            <div class="metric-row">
                <div class="metric">Flesch Reading Ease: ${data.fleschReadingEase}</div>
            </div>
            <div class="metric-row">
                <div class="metric">Toxicity Score: ${data.toxicityScore}</div>
            </div>
            <div class="metric-row">
                <div class="metric">Spam Score: ${data.spamScore}</div>
            </div>
            <div class="metric-row">
                <div class="metric">Incoherent Score: ${data.incoherentScore}</div>
            </div>
        `;
                    document.getElementById('modalContent').innerHTML = htmlContent;
                    document.getElementById('myModal').style.display = 'flex';
                });
        }

function closeModal() {
            document.getElementById('myModal').style.display = 'none';
        }
</script>


</html>
