<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/User_Dashboard.css" />
    <title>User Dashboard</title>
</head>
<body>

    <div class="navbar">
        <a href="#" style="font-weight: bold;">ShieldMail</a>
        <a href="{{ url_for('core.dashboard') }}">Dashboard</a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </div>

<div class="dashboard-container">
    <h2 class="dashboard-header">Your Dashboard</h2>
    <div class="dashboard-option">
        <a href="{{ url_for('core.profile') }}" class="option-title">Profile Information</a>
        <div class="option-description">View and edit your profile information</div>
    </div>
    <div class="dashboard-option">
        <a href="{{ url_for('core.spamEmail') }}" class="option-title">Spam Email Detector</a>
        <div class="option-description">Check emails for spam and phishing threats</div>
    </div>
    <div class="dashboard-option">
        <a href="{{ url_for('core.maliciouslinkcheck') }}" class="option-title">Malicious Link Detector</a>
        <div class="option-description">Analyze links for potential security threats</div>
    </div>
    <div class="dashboard-option">
        <a href="{{ url_for('core.historyLink') }}" class="option-title">History of Link Checks</a>
        <div class="option-description">A glance at your recent security scans.</div>
    </div>
    <div class="dashboard-option">
        <a href="{{ url_for('core.historyMessage') }}" class="option-title">History of Email Checks</a>
        <div class="option-description">A glance at your recent security scans.</div>
    </div>
</div>

</body>
</html>
