<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Profile_Info_Page.css" />

    <title>User Profile Information</title>
</head>
<body>

    <div class="navbar">
        <a href="#" style="font-weight: bold;">ShieldMail</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>

<div class="profile-container">
    <h2 class="profile-header">Profile Information</h2>
    <div class="profile-info">
        <div><span>Username:</span> johndoe</div>
        <div><span>First Name:</span> John</div>
        <div><span>Last Name:</span> Doe</div>
        <div><span>Email:</span> johndoe@example.com</div>
        <!-- Additional information could go here -->
        <div><span>Member Since:</span> January 2021</div>
        <div><span>Last Login:</span> 10 days ago</div>
        <!-- Include other relevant information as needed -->
    </div>

 

</div>

</body>
</html>
