<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/User_Dashboard.css" />
    <title>User Dashboard</title>
</head>
<body>

    <div class="navbar">
        <a href="#" style="font-weight: bold;">ShieldMail</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>

<div class="dashboard-container">
    <h2 class="dashboard-header">Your Dashboard</h2>
    <div class="dashboard-option">
        <a href="/infopage" class="option-title">Profile Information</a>
        <div class="option-description">View and edit your profile information</div>
    </div>
    <div class="dashboard-option">
        <a href="/emailcheck" class="option-title">Email Spam Checker</a>
        <div class="option-description">Check emails for spam and phishing threats</div>
    </div>
    <div class="dashboard-option">
        <a href="/maliciouscheck" class="option-title">Malicious Link Checker</a>
        <div class="option-description">Analyze links for potential security threats</div>
    </div>
    <div class="dashboard-option">
        <a href="/history" class="option-title">History of Checks</a>
        <div class="option-description">A glance at your recent security scans.</div>
    </div>
</div>

</body>
</html>
